@font-face {
  font-family: "avenirFont";
  src: url("fonts/AvenirNextLTPro-Regular.otf")
}

body {
  background-color: #EEEEEE;
  font-family: "avenirFont";
  margin: 0;
}

header {
  background-color: #9B9B8C;
  height: 50px;
  width: 100%;
}

.left {
  float: left;
  width: 50%;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 250px;
}

.right {
  float: left;
  width: 50%;
  text-align: center;
}

.tbin {
  color: #4C0066;
  font-size: 50px;
  margin-bottom: 10px;
}

button {
  color: white;
  font-size: 20px;
  background-color: #353526;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

#trainTrack {
  position: relative;
  width: 100%;
  height: 90vh;
  opacity: .2;
  z-index: -1;
  margin-top: -20px;
  margin-bottom: -5px;
}

.albumArt {
  height: 20px;
  width: 200px;
  margin: 0 auto;
}

.albumArt img {
  z-index: 1;
  height: 180px;
  width: 180px;
  padding-top: 20px;
}

footer {
  background-color: #686859;
  color: white;
  clear: both;
  font-size: 20px;
  height: 40px;
  width: 100%;
  padding-top: 15px;
  position: fixed;
  bottom: 0;
}

.footcopy {
  padding-left: 70px;
}
